# Ignore common python and flask files, aswell as eggs and virtualenvs
# Ignore the .git directory
.git/
*.pyc
.venv/
*.egg-info/
*.egg
*.swp
src/*.egg-info/
src/*.egg
src/*.swp
.vscode/
*.sqlite
*.sqlite3
restcalculator/build/
restcalculator/dist/
restcalculator/*.egg-info/
restcalculator/*.egg
restcalculator/*.swp
restcalculator/*.sqlite
restcalculator/*.sqlite3
restcalculator/node_modules/
restcalculator/__pycache__/
restcalculator/.serverless/
restcalculator/.pytest_cache/
restcalculator/.coverage
restcalculator/.coverage.*
__pycache__/
restcalculator/package-lock.json
restcalculator/package.json
*.log
*.log.*
.env
*.db
node_modules
*/.serverless/
*/worker/.aws-sam/
```