./dist/restcalculator-0.1-py3-none-any.whl
cryptography==39.0.1
pytest
wheel
setuptools
Flask
SQLAlchemy
Werkzeug==2.3.2
markupsafe==2.1.1
sqlalchemy
python-dotenv
psycopg2-binary
autopep8
Flask-JWT-Extended
pyopenssl
marshmallow
bcrypt
flask-talisman
flask_cors
requests
awscli 
boto3
redis